@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* إلغاء السكروول */
    html, body {
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    /* Flexbox لتوسيط المحتوى */
    .d-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>

<div class="d-flex">
    <div class="text-center">
        <h1 class="display-4 text-dark">Welcome to Company</h1>
        <p class="lead text-dark">
            Learn about <a href="https://learn.microsoft.com/aspnet/core" target="_blank" class="text-decoration-none text-dark">building Web apps with ASP.NET Core</a>.
        </p>
    </div>
</div>
