@model UserToReturnDto
@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center mb-4" style="color: #f4a8b4;">Delete User</h1>


<br />
<br />

<form asp-action="Delete">

    <partial name="EmployeePartialView/_DeleteDetailsPartialView" />

	< input asp-for="ImageName" hidden />

    <div>
        <input type="submit" value="Delete" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-light"> Back To List </a>
    </div>

</form>
